* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'DirtDevil';
    src: url('../fonts/dirt.TTF') format('TrueType');
}

@font-face {
    font-family:'Antigoni';
    src: url('../fonts/anti.TTF') format('TrueType');
}

/*------------------------------------------algemeen------------------------------------------------*/

h1, h2{
    font-family: 'DirtDevil', sans-serif; 
    letter-spacing: 0.04em;
    font-size: 2.2em;
    color: rgb(224, 232, 189);
}

html{
    background-color: rgb(137, 160, 126);

    font-family: 'Antigoni', sans-serif; 
    letter-spacing: 0.02em;
    margin-bottom: 7em;
}

header p,p, figcaption{
    color: #DCE5B9;
    line-height: 1.5em;
}

strong{
    font-weight: 300;
}

img{
    object-fit: cover;
}

.achtergrondplaatje{ /*voor screen readers*/
    display: none;
}

/* body header */

/*------------------------------------------index------------------------------------------------*/

.index header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index header h1{
    margin-top: 1em;
}

.index header h2{
    margin: 0em 0.1em 0.3em 0.1em;
    font-size: 1.7em;
}

.index header p{
    font-size: 0.88em;
}

.index header img{
    height: 18em;
}

/*-----------overige pagina's header---------*/

header a{
    display: flex;
    flex-direction: row;

    margin-left: 0.5em;
    margin-top: 0.5em;

    text-decoration: none;
}

header img{
    height: 5em;
}

header p{
    font-size: 1em;
    margin-top: 0.5em;
}

/* body main */

/*------------------------------------------index------------------------------------------------*/

.index{
    background-image: url(../images/groenweg.png); /* bron icoon weg https://www.youtube.com/watch?v=1Q1ESDwQ_Uk&list=PLVIHEPTP4QFdnVX4B7mAwk8GMjXNJg9JG&index=13&t=115s*/
    background-size: cover;

    position: absolute;
}

.index main p{ 
    margin: 0.7em 1.5em 1em 1.5em;
    text-align: center;
}

.index div{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index div img{ /*pijl*/
    margin-bottom: 1em;
    height: 3.6em;
}

/*------------------------------------------tweede pagina------------------------------------------------*/

.tweede{
   background-image: url(../images/wortels-achtergrond.png); /*bron wortels maken https://www.youtube.com/watch?v=qtJmvmi5mPM&list=PLVIHEPTP4QFdnVX4B7mAwk8GMjXNJg9JG&index=19&t=205s*/
   background-size: cover;

   position: absolute;
}

.tweede figure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 8em;
    margin-left: 1em;
    margin-bottom: 2em;
}

.tweede figure img{ /*pijl*/
    margin-left: 2em;
    height: 3em;
    margin-top: 1em;
}

.tweede figcaption{
    font-size: 0.9em;
}

.tweede section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em;
}

.tweede section p{
    margin-top: 1em;
}

.tweede section img:first-of-type{ /*soep*/
    align-self: flex-end;
    margin-right: 0.75em;

    height: 7em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.tweede section img:last-of-type{ /*community*/
    height: 9em;
    margin-top:1em;
}

/*------------------------------------------derde pagina------------------------------------------------*/
.bovenaan{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em;
}

.derde h1{
    margin-bottom: 0.4em;
}

.bovenaan p{
    padding-bottom: 0.75em;
}

.bovenaan div{
    align-self: flex-start;
    padding-left: 4em;
}

.bovenaan img:first-of-type{ /*persoon*/
    height: 11em;
}

.bovenaan img:last-of-type{ /*groene duim*/
    height: 7em;
    position: absolute;
    top: 24.9em;
    left: 11em;
    animation: duim 10s ease-in-out infinite;
}

@keyframes duim {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
}

.derde h2{ /*titels*/
    font-family: 'Antigoni', sans-serif;
    font-size: 1.3em;
    color: rgb(230, 168, 132);
}

.flex{
    display: flex;
    flex-direction: column;

    margin: 1em;
}

.flex img{
    height: 8em;
}

.flex p{
    font-size: 0.7em;
}

.babyflex{
    display: flex;
    flex-direction: row;

    background-color: #4B3E30;
    border: 4.5px solid #B89671;
    border-radius: 0.7em;

    margin-bottom: 1em;
}

.babyflex section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 0.2em;
}

.babyflex section p{
    color: rgb(221, 155, 117);
    padding-top: 0.3em;
}

.babyflex section a{
    font-size: 0.6em;
    color: rgb(221, 186, 167);

    margin-top: 0.5em;
}

/*------------------------------------------vierde pagina's------------------------------------------------*/

.vierde{ /*moestuinbak*/
    background-image: url(../images/moestuinbak.png);
    background-size: cover;
}

.vierde section{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1em;
}

.vierde section h2{ /*titel in de bak*/
    font-size: 1.7em;
    color: rgb(230, 168, 132);
    font-family: 'Antigoni', sans-serif;

    margin-top: 1.9em;
}

.vierde main img{ /*icoon voorbeeld*/
    height: 11em;
    align-self: center;
}

.vierde section p{ /*tekst*/
    padding: 0em 4.4em;
    color: rgb(221, 155, 117);
}

.vierde section p a{ /*links*/
    color: rgb(221, 186, 167);
}

.vierde div a{ /*button*/
    display: block;
    margin: 0 auto;
    width: 15%;
    text-align: center;

    color: rgb(226, 174, 143);
    text-decoration: none;

    border: 1px solid #B89671;
    padding: 10px 20px 13px;

    background-color: #4B3E30;
    box-shadow: #4B3E30 4px 4px;

    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

/*------------------------------------------vijfde pagina------------------------------------------------*/

.vijfde{ /*wolken*/
    background-image: url(../images/wolken.png);
    background-size: cover;
    left: 0;
    right: 0;

    position: absolute;
}

.vijfde main div img:last-of-type{ /*wolk*/
    width: 3.5em; 
    position: relative;
    animation: wolkje 10s ease-in-out infinite running;
}

@keyframes wolkje{
    0% {
        left: 300px;
    }
    50% {
        left: 50px;
    }
    100% {
        left: 300px;
    }
}

.vijfde header p{ /*zodat deze nog wel zichtbaar is*/
    color: rgb(94, 91, 91);
}

.vijfde section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5em;
}

.vijfde h1{
    animation: kleurentekst 6s linear 4s infinite normal none running;
}

@keyframes kleurentekst { /*dan vallen de kleuren meer op*/
    0%, 100% {
        color: rgb(224, 232, 189);
    }
  
    25% {
        color: #959a7e;
    }
    
    75% {
      color: #c4cca6;
    }
}

.vijfde section img{ /*vrachtwagen en hand*/
    height: 10.5em;
    margin-top: 3em;
}

.vijfde div:last-of-type{ /*begin wolken onderaan*/
    display: flex;
    flex-direction: column;
}

.vijfde div:last-of-type p:nth-of-type(odd){
    width: 250px;

    margin-bottom: 9.5em;
    margin-top: 4em;
    margin-left: 1em;

    color: rgb(118, 112, 112);
}

.vijfde div:last-of-type p:nth-of-type(even){
    align-self: flex-end;

    width: 300px;

    margin-bottom: 2em;
    margin-right: 1em;

    color: rgb(127, 126, 126);
}

.vijfde p a{
    color: rgb(221, 186, 167);
}

.vijfde footer{
    margin-bottom: 15em;
}

/* footer */

.index nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.index nav img{ 
   height: 4em;

   margin-bottom: 1.5em;
}

nav ul{
    display: flex;
    flex-direction: row;

    position: fixed;
    bottom: 0;

    background-color: rgb(134, 160, 123);
    list-style: none;
}

nav img{
    height: 4em;
    padding: 1.1em;
}

.tweede footer{
    margin-bottom: 8em;
}