* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'DirtDevil';
    src: url('../fonts/dirt.TTF') format('TrueType');
}

@font-face {
    font-family:'Antigoni';
    src: url('../fonts/anti.TTF') format('TrueType');
}

h1, h2{
    font-family: 'DirtDevil', sans-serif; 
    letter-spacing: 0.04em;
    font-size: 2em;
    color: #e8a72f;
  }

html{
    background-color: #DCE5B9;

    font-family: 'Antigoni', sans-serif; 
    letter-spacing: 0.01em;
}

p{
    line-height: 1.5em;
}

body{
    margin-bottom: 7em;
}

/* body header */

/*------------------------------------------index------------------------------------------------*/

.index header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index header img{
    object-fit: cover;
    height: 13em;
}

.index header h1{
    margin-top: 1em;
    margin-bottom: 0.8em;
}

.index header h2{
    margin: 0.8em 0.1em 0.2em 0.1em;
    font-size: 1.7em;
}

.index header p{
    font-size: 0.8em;
    margin-bottom: 1em;
}

/*------------------------------------------overige pagina's nav------------------------------------------------*/

header a{
    display: flex;
    flex-direction: row;

    margin-left: 0.5em;
    margin-top: 0.5em;

    text-decoration: none;
}

header img{
    object-fit: cover;
    height: 5em;
}

header p{
    font-size: 1em;
    color: black;
    margin-top: 0.5em;
}

/* body main */

/*------------------------------------------index------------------------------------------------*/

.index{
    background-image: url(../images/groeneweg.png);
    background-size: cover;

    position: absolute;
}

.index main p{ 
    margin: 1em 1.5em 2em 1.5em;
    text-align: center;
}

.index div{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index div img{
    margin-bottom: 1.1em;
    object-fit: cover;
    height: 3.6em;
}

.index nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 1em;
    margin-right: 2.1em;
}

.index nav img{ 
   object-fit: cover;
   height: 4em;

   margin-bottom: 2em;
}

/*------------------------------------------tweede pagina------------------------------------------------*/

.voorgrondplaatje{ /*voor screen readers*/
    display: none;
}

.tweede{
   background-image: url(../images/wortels-achtergrond.png);
   background-size: cover;

   position: absolute;
}

.tweede footer{
    margin-bottom: 7em;
}

.tweede article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 20em;
    margin-left: 1em;
    margin-bottom: 2em;
}

.tweede article img{
    margin-left: 2em;
    height: 3em;
    margin-top: 1em;
}

.tweede article p{
    font-size: 0.9em;
}

.tweede section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em;
}

.tweede h1{
    margin-bottom: 0.7em;
}

.tweede section img{
    object-fit: cover;
    height: 10em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.tweede section img:first-of-type{
    align-self: flex-end;
    margin-right: 1em;
}

.tweede main nav a{
    text-decoration: none;
    color: black;
}

.tweede nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: white;
    border-radius: 4em;
    list-style: none;

    position: fixed;
    bottom: 0.5em;
    left: 3.2em;
}

.tweede nav img{
    height: 3em;
    padding: 1em;
}

.tweede section a{
    text-align: center;

    color: black;
    text-decoration: none;
    font-size: 1em;
  
    border: 1px solid black;
    background-color: white;
    border-radius: 1.20em;
    width: 35%;

    margin: 1.20em;
    padding: 0.2em;
}

/*------------------------------------------derde pagina------------------------------------------------*/
.bovenaan{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1.2em;
}

.bovenaan img{
    height: 15em;
    margin-top: 1em;
}

.derde h1{
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.derde section p{
    margin-top: 0.9em;
}

.flex{
    display: flex;
    flex-direction: column;

    margin: 1em;
}

.flex p{
    font-size: 0.6em;
}

.flex img{
    height: 8em;
}

.babyflex{
    display: flex;
    flex-direction: row;
    background-color: #4B3E30;
    border: 3px solid #B89671;
    border-radius: 0.5em;

    margin-bottom: 1em;
}

.babyflex section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0.5em;
}

.babyflex h3{
    color: rgb(221, 155, 117);
}

.babyflex section p{
    color: rgb(221, 155, 117);
}

.button{
    display: block;
    margin: 0 auto;
    text-align: center;

    color: black;
    text-decoration: none;
  
    border: 1.25px solid black;
    background-color: white;
    border-radius: 1.20em;

    max-width: 55%;
    padding: 0.2em;
}

.babyflex section a{
    font-size: 0.6em;
    color: rgb(221, 186, 167);
    margin-top: 0.5em;

    border: none;
    text-decoration: underline;
}

.derde nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: white;
    border-radius: 4em;
    list-style: none;

    position: fixed;
    bottom: 0.5em;
    left: 3.2em;
}

.derde nav img{
    height: 3em;
    padding: 1em;
}

/*------------------------------------------vierde pagina's------------------------------------------------*/

.vierde main{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2em;
}

.vierde section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0em 2.1em 2.2em 2.2em;

    background-image: url(../images/moestuinachtergrond.png);
    background-size: cover;

    margin-top:0.5em;
}

.vierde main section h2{
    align-self: center;
    font-size: 1.4em;
    margin-top: 2.5em;
    color: rgb(221, 155, 117);
}

.vierde main img{
    height: 13em;
    align-self: center;
}

.vierde main section p{
    padding: 0em 1.2em;
    color: rgb(221, 155, 117);
}

.vierde main section p a{
    color: rgb(221, 186, 167);
}

.vierde main div{
    margin-top: 3em;
    margin-bottom: 1em;
}

.vierde main div a{
    text-align: center;

    color: black;
    text-decoration: none;
  
    border: 1.25px solid black;
    background-color: white;
    border-radius: 1.20em;

    padding: 0.5em;
}

.vierde nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: white;
    border-radius: 4em;
    list-style: none;

    position: fixed;
    bottom: 0.5em;
    left: 3.2em;
}

.vierde nav img{
    height: 3em;
    padding: 1em;
}

/*------------------------------------------vijfde pagina------------------------------------------------*/

.vijfde{
    background-image: url(../images/wolken-achtergrond.png);
    background-size: cover;

    position: absolute;
    left:0;
    right:0;
 }

.vijfde footer{
    margin-bottom: 7em;
}

.vijfde section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 6.8em;
    margin-bottom: 2em;
}

.vijfde section p{
    margin-top: 0.5em;
}

.vijfde section img{
    object-fit: cover;
    height: 6em;
    margin-top: 6em;
}

strong{
    font-weight: 800;
}

.vijfde div{
    display: flex;
    flex-direction: column;
}

.vijfde div p:nth-of-type(odd){
    width: 250px;
    margin-bottom: 2em;
    margin-top: 5em;
    margin-left: 1em;
    color: rgb(221, 155, 117);
}

.vijfde div p:nth-of-type(even){
    align-self: flex-end;
    width: 300px;
    margin-top: 8em;
    margin-bottom: 2em;
    margin-right: 1em;
    color: rgb(221, 155, 117);
}

.vijfde div p a{
    color: rgb(221, 186, 167);
}

.vijfde ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: white;
    border-radius: 4em;
    list-style: none;

    position: fixed;
    bottom: 0.5em;
    left: 3.2em;
}

.vijfde nav img{
    height: 3em;
    padding: 1em;
}

/* footer */

footer p{
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 0.8em;
    margin-top: 2em;

    text-decoration: underline;
    color: black;
}